* {
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}

.wrapper {
    margin: 0 30px;
}

.img__container img {
    margin: 40px 0;
    width: 50vh;
    height: 30vh;
}

.text__content {
    margin: 30px;
}

.text__content h1 {
    color: rgb(8, 192, 48);
    text-align: center;
}

.text__content p {
    margin-top: 30px;
    color: rgb(95, 91, 91);
    text-align: center;
    font-size: 20px;
    font-family: sans-serif;
}

.buttons {
    margin-left: 40px;
    margin-bottom: 40px;

}

.btn_1 {
    cursor: pointer;
    padding: 20px 80px;
    background-color: rgb(8, 192, 48);
    border: none;
    box-shadow: 20px rgb(0, 0, 60);
    border-radius: 10px;
    color: white;
    font-size: 20px;
}



.btn_2 {
    cursor: pointer;
    padding: 20px 105px;
    background-color: rgb(65, 120, 77);
    border: none;
    border-radius: 10px;
    color: white;
    font-size: 20px;
    text-decoration: none;
}

/* signup page */
.sign__up {
    margin-left: 10px;
}

.sign__up h2 {
    color: rgb(8, 192, 48);
    margin-bottom: 50px;
}

.sign__up label {
    display: block;
    color: rgb(8, 192, 48)
}

#name {
    padding: 20px 60px;
    border-radius: 10px;
}

#user__email {
    padding: 20px 60px;
    border-radius: 10px;

}

#user__password {
    padding: 20px 60px;
    border-radius: 10px;
}

.btn_3 {
    margin-left: 10px;
    background-color: rgb(8, 192, 48);
    border-radius: 10px;
    padding: 20px 70px;
    border: none;
    color: white;
    font-size: 20px;
}

.login__alt {
    font-size: 25px;
    text-decoration: none;
    text-align: center;
    color: rgb(8, 192, 48);
}

.alt {
    font-size: 28px;
    text-align: center;
}

.logos {
    display: flex;
    justify-content: center;
}

.logos a {
    font-size: 4rem;
    margin: 40px;
    color: black;
}

.dashboard h3 {
    color: rgb(8, 192, 48);
    font-size: 25px;
}

.dashboard p {
    color: rgb(8, 192, 48);
    margin-bottom: 40px;
    font-size: larger;
}

#search__course {
    padding: 20px 60px;
    background-color: rgb(214, 199, 199);
    border-radius: 10px;
    margin-bottom: 20px;
    border: none;
    color: rgb(8, 192, 48);
}

.dashboard span {
    margin-right: 120px;
    font-size: 20px;
    color: rgb(8, 192, 48);
}

.dashboard a {
    text-decoration: none;
    font-size: 20px;
    color: rgb(8, 192, 48);
}

.categories {
    display: flex;
    /* flex-wrap: wrap; */
}

.card1 {
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 20px;
    cursor: pointer;
    width: 100px;
    /* height: 200px; */
    text-align: center;
    margin-right: 20px;
    background-color: rgb(8, 192, 48);
}

.card1 img {
    width: 100%;
    /* height: 80%; */
    background-color: rgb(8, 192, 48);
}

.card1 h4 {
    font-size: 1.2rem;
    margin-top: 10px;
    margin-bottom: 25px;
}

.card2 {
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 20px;
    cursor: pointer;
    width: 100px;
    height: 200px;
    text-align: center;
    margin-right: 20px;
    background-color: rgb(8, 94, 192);
}

.card2 img {
    width: 100%;
}

.card2 h4 {
    font-size: 1.2rem;
    margin-top: 10px;
    margin-bottom: 25px;
}

.card3 {
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 20px;
    width: 100px;
    cursor: pointer;
    /* margin-top: 20px; */
    height: 200px;
    text-align: center;
    margin-right: 20px;
    background-color: rgb(8, 94, 192);
}

.card3 img {
    width: 100%;

}

.card3 h4 {
    font-size: 1.2rem;
    margin-top: 10px;
    margin-bottom: 25px;
    margin-left: -10px;
}

.card4 {
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 20px;
    width: 100px;
    /* height: 200px; */
    text-align: center;
    margin-right: 20px;
    cursor: pointer;
    background-color: rgb(8, 192, 48);
}

.card4 img {
    width: 100%;
}

.card4 h4 {
    font-size: 1.2rem;
    margin-top: 10px;
    margin-bottom: 25px;
}